<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{.title}}</title>
</head>

<body>
    {{ template "header.html" .}}
    <section class=" text-gray-600 body-font">
        <div class="con tainer mx-auto flex px-5 py-24 items-center justify-center flex-col ">
            <!-- <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" -->
            <!-- src="https://dummyimage.com/720x600"> -->
            <div class="text-center lg:w-2/3 w-full">
                <h1 class=" title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">IIIT bhopal confession </h1>
                <p class="mb-8 leading-relaxed">this is the portal for IIIT bhopal confessions for 2025 batch</p>
                <div class="flex justify-center">
                    <a href="confessions/{{.ID}}">
                        <button
                            class=" text-white bg-indigo-500 border-0 py-2 px-6  hover:bg-indigo-600 rounded text-lg">confess</button>
                </div>
                </a>
            </div>
        </div>
    </section>
    {{ template "footer.html" .}}
</body>

</html>